<%- include('header') %>
<h2>Change Password</h2>
<form method="POST" action="/password/change">
  <input name="username" placeholder="Username" required>
  <input name="securityAnswer" placeholder="Answer to Security Question" required>
  <input type="password" name="newPassword" placeholder="New Password" required>
  <input type="password" name="confirmNewPassword" placeholder="Confirm New Password" required>
  <small>Password must be at least 8 characters long and include uppercase, lowercase, number, and special character.</small>
  <button type="submit">Change Password</button>
</form>
<p style="color:red;"><%= error %></p>
<p><a href="/login">Back to login</a></p>
<%- include('footer') %>

<script>
   window.onload = function() {
    setTimeout(function() {
      // Clear error and message from URL
      window.history.replaceState({}, document.title, window.location.pathname);
    }, 3000);  // Optional: Wait for 3 seconds before clearing
  };
</script>